<input type="text" class="form-control input-lg input-station" placeholder="Please start typing the station name..." ng-model="search" ng-trim="false" />
<div class="col-xs-3 col-sm-2" ng-repeat="key in keys">
	<button class="btn btn-primary btn-key btn-block" ng-click="onKeyPadClicked(key)" ng-disabled="isKeyDisabled(key)">{{key}}</button>
</div>
<div class="col-xs-12">
	<button class="btn btn-primary btn-key btn-block" ng-click="onKeyPadClicked(' ')" ng-disabled="isKeyDisabled(' ')">SPACE</button>
</div>
